{% extends 'index.html' %}
{% block add %}
<a class="btn btn-outline-success float-right" href='{{url_for("add")}}'><i class=" fas fa-plus"></i></a>
{% endblock add %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="w-100">Todo</th>
            <th class="w-15">Finished</th>
            <th class="w-10"></th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.name }}</td>
            {% if todo.completed == False %}
            <td><i class="far fa-times-circle"></i> No</td>
            {% else %}
            <td><i class=" far fa-check-circle"></i> Yes</td>
            {% endif %}
            <td>
                <div class="float-right mr-1">
                    <div class="btn-group">
                        {% if todo.completed == False %}

                        <a type='button' class='btn btn-outline-primary ' href='{{ url_for("complete", id=todo.id) }}'>
                            <i class=" far fa-check-circle"></i></a>
                        {% else %}
                        <a type='button' class='btn btn-outline-danger ' href='{{ url_for("incomplete", id=todo.id) }}'>
                            <i class="far fa-times-circle"></i></a>
                        {% endif %}
                        <a type='button' class='btn btn-outline-success ' href='{{ url_for("update", id=todo.id)}}'><i
                                class="far fa-edit"></i></a>
                        <a type='button' class='btn btn-outline-danger ' href='{{ url_for("delete", id=todo.id)}}'>
                            <i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}